language: python
python:
  - "3.6"
install:
  - pip3 install -r requirements.txt
  - pip3 install coveralls
script:
  - coverage run --source=app/api/ -m pytest app/tests  && coverage report -m

after_success:
  - coveralls
